<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Roles)}"/>


<div class="container">
    <h1 th:text="#{roles.list}" />
    <div>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/roles/edit/0}" class="btn btn-primary">Добавить роль</a>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="responsive-row" th:each="role : ${roles}">
            <td th:text="${role.id}"/>
            <td th:text="${role.name}"/>
            <td>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/roles/edit/' + ${role.id}}" class="btn btn-primary">Изменить</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{'/roles/delete/' + ${role.id}}" class="btn btn-primary">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>
